    /* html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    } */

    :root {
  --primary: #f9efec;;
  --secondary: #0a1f58;
}
body{
  background-color:#f9efec;
}

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #f9efec; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */