    

    textarea {
      width: 100%;
      height: 120px;
      padding: 10px;
      font-size: 14px;
      margin:10px;
    }

    button {
      margin-top: 10px;
      padding: 10px 16px;
      font-size: 14px;
      cursor: pointer;
    }
